<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小番茄</title>

    <link rel="stylesheet" type="text/css" href="objects/css/style.css">
    <link rel="stylesheet" href="objects/component/ball-wave/ball-wave.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="objects/component/ball-wave/ball-wave.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        //work
        var workTime;
        var workTimeLast;
        var workPlaying;
        //rest
        var restTime;
        var restTimeLast;
        var restPlaying;

        function workPlay() {
            if (workTimeLast == null || isNaN(workTimeLast) || workTimeLast <= 0) {
                //倒數完成
                workEnd();
            } else {
                mainBallVue.ballText = getTimeStr(workTimeLast);
                mainBallVue.waveTop = 1 - (workTimeLast / workTime);
                mainBallVue.ballColor = getWorkBallColor(mainBallVue.waveTop);
                secondBallVue.waveTop = (workTimeLast / workTime);
                secondBallVue.ballColor = getRestBallColor(secondBallVue.waveTop);
                workPlaying = setTimeout(workPlay, 1000);
                workTimeLast -= 1000;
            }
        }

        function workEnd() {
            console.log("WORK_END:" + new Date());
            setUpVue.currentfuncButton = 4;
            mainBallVue.waveTop = 1;
            mainBallVue.ballText = 'FINISH!'
            secondBallVue.waveTop = 0;
        }

        function restPlay() {
            if (restTimeLast == null || isNaN(restTimeLast) || restTimeLast <= 0) {
                //倒數完成
                restEnd();
            } else {
                mainBallVue.ballText = getTimeStr(restTimeLast);
                mainBallVue.waveTop = 1 - (restTimeLast / restTime);
                mainBallVue.ballColor = getRestBallColor(mainBallVue.waveTop);
                secondBallVue.waveTop = (restTimeLast / restTime);
                secondBallVue.ballColor = getWorkBallColor(secondBallVue.waveTop);
                restPlaying = setTimeout(restPlay, 1000);
                restTimeLast -= 1000;
            }
        }
        function restEnd() {
            console.log("REST_END:" + new Date());
            setUpVue.currentfuncButton = 1;
            mainBallVue.waveTop = 1;
            mainBallVue.ballText = 'FINISH!'
            secondBallVue.waveTop = 0;
        }

        function getTimeStr(microsec) {
            var hr = Math.floor(microsec / (60 * 60 * 1000))
            var min = Math.floor((microsec % (60 * 60 * 1000)) / (60 * 1000));
            var sec = Math.floor((microsec % (60 * 1000)) / 1000)
            return paddingLeft('0', String(hr), 2) + ':' + paddingLeft('0', String(min), 2) + ':' + paddingLeft('0', String(sec), 2);
        }

        function paddingLeft(insert, str, length) {
            if (str.length >= length) {
                return str;
            }
            if (insert.length + str.length > length) {
                return str;
            }
            else {
                return paddingLeft(insert, insert + str, length);
            }
        }

        function getWorkBallColor(waveTop) {
            if (waveTop >= 0.8) {
                return 'rgb(255, 99, 71)'
            }
            else if (waveTop >= 0.6) {
                return 'rgb(255, 138, 54)'
            }
            else if (waveTop >= 0.4) {
                return 'rgb(224, 177, 36)'
            }
            else if (waveTop >= 0.2) {
                return 'rgb(223, 216, 18)'
            }
            else {
                return 'rgb(223, 255, 0)'
            }
        }
        function getRestBallColor(waveTop) {
            if (waveTop >= 0.8) {
                return 'rgb(70, 190, 217)'
            }
            else if (waveTop >= 0.6) {
                return 'rgb(85, 220, 217)'
            }
            else if (waveTop >= 0.4) {
                return 'rgb(100, 234, 217)'
            }
            else if (waveTop >= 0.2) {
                return 'rgb(114, 238, 255)'
            }
            else {
                return 'rgb(153, 242, 255)'
            }
        }
        /*離開主頁(離開設定頁)*/
        function homePageLeaave() {
            if ($('#homeView').hasClass('leave-home-animat')) {
                $('#homePage').hide();
                $('#homeView').removeClass('leave-home-animat');
                $('#setUpPage').removeClass('home-add-set-up-page').addClass('tomato-add-set-up-page').fadeIn(200);
                $('#tomatoPageBtns').show();
                //disabled close----
                $('#disabledControl').hide();
                return
            }
            //disabled first----
            $('#disabledControl').show();
            //------
            $('#homePageInf').hide();
            $('#homeView').removeClass('init-home-view').addClass('home-view leave-home-animat');
            $('#setUpPage').fadeOut(200);
            setTimeout(homePageLeaave, 1000);
        }

        /*回到主頁(設定頁)*/
        function homePageGo() {
            $('#homePage').show();
            if ($('#homeView').hasClass('go-home-animat')) {
                $('#homeView').removeClass('home-view go-home-animat').addClass('init-home-view');
                $('#setUpPage').removeClass('tomato-add-set-up-page').addClass('home-add-set-up-page').fadeIn(200);
                $('#homePageInf').show();
                //disabled close----
                $('#disabledControl').hide();
                return
            }
            //disabled first----
            $('#disabledControl').show();
            //------
            clearTimeout(workPlaying);
            clearTimeout(restPlaying);
            setUpVue.currentfuncButton = 1;
            $('#tomatoPageBtns').hide();
            $('#homeView').addClass('go-home-animat');
            $('#setUpPage').fadeOut(200);
            setTimeout(homePageGo, 1000);
        }

        function functionButtonCheck() {
            if ($('#homeView').hasClass('init-home-view')) {
                if (!checkIsPosNumber(setUpVue.workTimeMin) || !checkIsPosNumber(setUpVue.restTimeMin)) {
                    return;
                }
                homePageLeaave();
            }
        }
        function checkIsPosNumber(obj) {
            if (!obj || $.trim(obj) == "") {
                return false;
            }
            if (isNaN(obj)) {
                return false;
            }
            if (obj <= 0) {
                return false;
            }
            return true;
        }
    </script>
    <script>
        $(function () {
            $("#infoDialog").dialog({
                autoOpen: false,
                resizable: false,
                draggable:false,
                show: {
                    effect: "explode",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                }
            });
            $("#infoBtn").on("click", function () {
                $("#infoDialog").html('Work time : ' + setUpVue.workTimeMin + ' minutes!<br/>Rest time : ' + setUpVue.restTimeMin + ' minutes!');
                $("#infoDialog").dialog("open");
            });
        });
    </script>
    <noscript>Your browser does not support JavaScript!</noscript>
</head>

<body style="background-image: url('src/img/bg_main.jpg')">
    <div id="disabledControl" style="display:none;"></div>
    <!--用來控制全頁disabled-->
    <div id="homePage" class="home-page">
        <div id="homeView" class="init-home-view">
            <div class="home-view-head">
            </div>
        </div>
    </div>
    <div class="balls">
        <div>
            <div id="mainTomatoBall" class="ball ball-now">
                <wave-ball ball-size='100%' v-bind:ball-color='ballColor' v-bind:space-color='spaceColor'
                    v-bind:ball-text='ballText' v-bind:wave-top='waveTop'>
                </wave-ball>
            </div>
        </div>
        <div>
            <div id="secondTomatoBall" class="ball ball-wait">
                <wave-ball ball-size='100%' v-bind:ball-color='ballColor' v-bind:space-color='spaceColor'
                    v-bind:ball-text='ballText' v-bind:wave-top='waveTop'>
                </wave-ball>
            </div>
        </div>
    </div>
    <script>
        mainBallVue = new Vue({
            el: '#mainTomatoBall',
            data: {
                ballText: '00:00:00',
                ballColor: 'tomato',
                spaceColor: 'white',
                waveTop: 0.5
            }
        })
    </script>
    <script>
        secondBallVue = new Vue({
            el: '#secondTomatoBall',
            data: {
                ballText: '',
                ballColor: 'darkcyan',
                spaceColor: 'white',
                waveTop: 0.5
            }
        })
    </script>
    <div id="setUpPage" class="set-up-page home-add-set-up-page">
        <div id="setUp" class="set-up-content">
            <div id="homePageInf">
                <img id="logo" src="src/img/logo_tomato.png" height="128" width="128">
                <a>Pomodoro Technique</a>
                <a id="subTitle">The only way to do great work is to love what you do.</a>
                <div id="inputBlock" class="input-block">
                    <div class="input-time">
                        <label for="workTimeInput">WORK TIME</label>
                        <input id="workTimeInput" maxlength="3" v-model='workTimeMin'>
                        <span v-show='workTimeCheck'>Must be positive number</span>
                    </div>
                    <div class="input-time">
                        <label for="restTimeInput">REST TIME</label>
                        <input id="restTimeInput" maxlength="3" v-model='restTimeMin'>
                        <span v-show='restTimeCheck'>Must be positive number</span>
                    </div>
                </div>
            </div>
            <!-- <button>RESET</button>-->
            <button v-for="tab in funcButtons" v-show='tab.id==currentfuncButton' v-bind:key="tab.id" v-on:click='functionButtonClick(tab.id)'
                onclick="functionButtonCheck()">{{
                tab.text }}</button>
            <div id="tomatoPageBtns" style="display:none;">
                <button id="infoBtn">INFO</button>
                <button id="homePageGoBtn" onclick="homePageGo()">BACK</button>
            </div>
        </div>
    </div>
    <script>
        setUpVue = new Vue({
            el: '#setUp',
            data: {
                workTimeMin: 25,
                restTimeMin: 5,
                currentfuncButton: 1,
                funcButtons: [
                    { id: 1, text: 'WORK NOW', note: 'as workReady' },//initial or restEnd. 
                    { id: 2, text: 'STOP', note: 'as working' },
                    { id: 3, text: 'KEEP WORKING', note: 'as workPause' },
                    { id: 4, text: 'REST NOW', note: 'as restReady' },//workEnd.
                    { id: 5, text: 'STOP', note: 'as resting' },
                    { id: 6, text: 'KEEP RESTING', note: 'as restPause' },
                ]
            },
            computed: {
                workTimeCheck: function () {
                    return !checkIsPosNumber(this.workTimeMin)
                },
                restTimeCheck: function () {
                    return !checkIsPosNumber(this.restTimeMin)
                }
            },
            methods: {
                functionButtonClick: function (id) {
                    if (!checkIsPosNumber(setUpVue.workTimeMin) || !checkIsPosNumber(setUpVue.restTimeMin)) {
                        return;
                    }
                    switch (id) {
                        case 1: this.workStart(); break;
                        case 2: this.workPause(); break;
                        case 3: this.workGoOn(); break;
                        case 4: this.restStart(); break;
                        case 5: this.restPause(); break;
                        case 6: this.restGoOn(); break;
                        default: return;
                    }
                },
                //WORK--------------------------
                workStart: function () {
                    if (isNaN(this.workTimeMin)) {
                        return;
                    }
                    this.currentfuncButton = 2;
                    clearTimeout(workPlaying);
                    workTime = this.workTimeMin * 60 * 1000;
                    workTimeLast = workTime;
                    console.log('workStartTime:' + new Date() + "...");
                    workPlay();
                },
                workPause: function () {
                    this.currentfuncButton = 3;
                    clearTimeout(workPlaying);
                },
                workGoOn: function () {
                    this.currentfuncButton = 2;
                    workPlay();
                },
                //REST--------------------------
                restStart: function () {
                    if (isNaN(this.restTimeMin)) {
                        return;
                    }
                    this.currentfuncButton = 5;
                    clearTimeout(restPlaying);
                    restTime = this.restTimeMin * 60 * 1000;
                    restTimeLast = restTime;
                    console.log('restStartTime:' + new Date() + "...");
                    restPlay();
                },
                restPause: function () {
                    this.currentfuncButton = 6;
                    clearTimeout(restPlaying);
                },
                restGoOn: function () {
                    this.currentfuncButton = 5;
                    restPlay();
                }
            }
        })
    </script>
    <!--Dialog-->
    <div id="infoDialog" title="Your time setting">your time set</div>
</body>
</html>